- let colors = {1: ['Dark Shade 100%', '#1F2041'], 2: ['Dark Shade 75%', '#1F2041'], 3: ['Dark Shade 50%', '#1F2041'], 4: ['Dark Shade 25%', '#1F2041'], 5: ['Dark Shade 5%', '#1F2041'], Purple: ['Purple', '#BC9CFF'], Green: ['Green', '#6FCF97']}
- let tags = {h1: "This one is the sub-section or widget title", h2: 'Next one is the item title inside widgets', h3: 'This is a label or CTA text', body: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'}

mixin fonts
  each key, value in colors
    .color(class=`color_${value}`)
      .color__box 
      p.color__title #{key[0]}
      p.color__subtitle #{key[1]}

mixin tagsSection 
  each key, value in tags 
    .tag-example(class=`tag-example_${value}`)
      p.tag-example__title #{value}
      p.tag-example__subtitle #{key}


link(rel="stylesheet", href="colors-and-type.css")
.nav 
  a.logo(href="#") 
    img(src="../../assets/images/logo-colorless.svg", alt="logo")
.main 
  .main__colors 
    +fonts
  .main__types
    +tagsSection