mixin createCommentSection(image, name, daysString, likes, comment)
	.comment
		img.comment__image(src=`${image}` alt="")
		.comment__author 
			p.comment__author--name= name
			p.comment__author--date= `${daysString} дней назад`
		button.comment__likes(type="button")
			span.comment__likes--icon.material-symbols-outlined favorite
			span.comment__likes--count= likes
		p.comment__text= comment